/* style.css */

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.title-block {
    background-color: #1f2937;
    display: flex;
}

.main-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.content-block {
    display: flex;
}

.random-information {

}

.cards {

}

.quote-block {
    background-color: #e5e7eb;
    display: flex;
}

.signup-block {
    display: flex;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.footer {
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
}

.buttons {
    background-color: #3882f6;
}

ul {
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}