/* style.css */

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.title-block {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    padding: 0px 200px;
}

.title {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0px;
}

.main-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.content-block {
    display: flex;
    padding: 0px 200px;
}

.cards {
    width: 200px;
}

.quote-block {
    background-color: #e5e7eb;
    padding: 0px 200px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    display: flex;
}

.signup-block {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 0px 200px;
    display: flex;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.footer {
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
}

.buttons {
    color: #f9faf8;
    border-radius: 5px;
    background: #3882f6;
    width: fit-content;
    padding: 5px 30px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}