/* style.css */

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.title-block {
    background-color: #1f2937;
    display: flex;
}

.content-block {
    display: flex;
}

.quote-block {
    background-color: #e5e7eb;
    display: flex;
}

.signup-block {
    display: flex;
}

.footer {
    background-color: #1f2937;
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}